/**
 *  SixTrack Web – Main CSS File
 * ================================
 *  Veronica Berglyd Olsen, CERN BE/ABP/HSS 2018
 *  Created 2018-02-19
 */

html {
    background-color: #cccccc;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #ffffff;
    font-size: 15px;
    margin: 0px;
    padding: 0px;
}

h1 {font-size: 2.00em; margin: 0em 0em 0.4em 0em;}
h2 {font-size: 1.50em; margin: 0em 0em 0.4em 0em;}
h3 {font-size: 1.15em; margin: 0em 0em 0.4em 0em;}
h4 {font-size: 1.00em; margin: 0em 0em 1.0em 0em;}
h5 {font-size: 1.00em; margin: 0em 0em 1.0em 0em;}
h6 {font-size: 1.00em; margin: 0em 0em 1.0em 0em;}

a       {color: #0053a1; text-decoration: none;}
a:hover {color: #0053a1; text-decoration: underline;}

/**
 *  Layout
 */

#wrapper {
    width: 1200px;
    margin: 0px auto;
    background-color: #ffffff;
    /* background: url("/SixTrack/images/top.jpg"); */
    /* background-repeat: no-repeat; */
    /* background-position: top left; */
}

/* CERN Bar */

#cernbar {
    background: #000000;
    width: 100%;
    color: #ffffff;
    padding: 8px 0px;
}

#cernbar div {
    background: #000000;
    margin: 0px 40px;
}

#cernbar em {
    font-style: normal;
    color: #c7c7c7;
}

#cernbar a {
    text-decoration: none;
    color: #ffffff;
}

/**
 *  Page Header
 */

#header {
    background-color: #ffffff;
    width: 1200px;
    height: 140px;
    display: table;
}

#header .logo {
    display: table-cell;
    vertical-align: top;
    padding: 12px 0px 0px 12px;
    width: 140px;
}

#header .title {
    display: table-cell;
    vertical-align: top;
}

#header .illustration {
    display: table-cell;
    vertical-align: top;
    text-align: right;
    padding: 12px 12px 0px 12px;
}

#header h1 {
    color: #000000;
    margin: 36px 0px 6px 12px;
    font-size: 2.0em;
    text-decoration: underline;
}

#header h3 {
    color: #0053a1;
    margin: 0px 0px 12px 12px;
    font-size: 1.1em;
}

/**
 *  Site Menu
 */

#main-menu {
    width: 1200px;
    margin: 0px;
    padding: 0px;
    background-color: #e07e21;
}

#main-menu ul {
    /* list-style-type: square; */
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
}

#main-menu ul li {
    display: inline-block;
    color: #ffffff;
    font-weight: 700;
    padding: 4px 12px;
}

#main-menu ul li a {
    color: #ffffff;
}

#main-menu ul li:hover {
    background-color: rgba(255,255,255,0.2);
}

/**
 *  Page Content
 */

#content {
    display: table;
    width: 1184px;
    max-width: 1184px!important;
    margin: 20px 8px;
}

#content article {
    display: table-cell;
    overflow-x: auto;
    max-width: 906px!important;
    border-right: 2px solid #0053a1;
    padding: 4px 18px 4px 0px;
}

#content aside {
    display: table-cell;
    width: 240px;
    padding: 4px 0px 4px 18px;
}

/**
 *  Article Area
 */

#content article img {
    max-width: 1174px;
}

/**
 *  Page Navigation
 */

#content aside img {
    max-width: 228px;
}

/**
 *  Content Styles
 */

.code {
    display: inline-block;
    margin-left: 20px;
    border: 1px solid #999999;
    background-color: #e7e7e7;
    padding: 6px;
    font-size: 13px;
    width: 80%;
}
 
.no-bullet-list {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.no-bullet-list li {
    margin: 0px 0px 8px 0px;
}

.square-bullet-list {
    list-style-image: url("/SixTrack/images/bullet.png");
    margin: 8px 0px;
    padding: 0px 0px 0px 18px;
}

.square-bullet-list li {
    margin: 0px 4px;
}

/* Tables */

table td {
    padding: 2px 4px;
}

.table-head {
    background-color: #cccccc;
    color: #000000;
    font-weight: 700;
}

.table-subhead {
    background-color: #bbbbbb;
    color: #000000;
    font-weight: 700;
}

/**
 *  Page Footer
 */

#footer {
    background-color: #cccccc;
    color: #000000;
    font-size: 0.8em;
    text-align: center;
    padding: 4px;
    border-top: 2px solid #e07e21;
}

/**
 *  Responsive
 */

/* Mobile */

@media screen and (max-width: 1200px) {
    
    #wrapper {
        width: 100%;
    }
    
}

@media screen and (max-width: 500px) {

    body {
        padding: 4% 2%;
        margin: 0;
    }

}